In [157]:
import nltk 
gen = nltk.corpus.genesis.paras()

In [158]:
len(gen[0])

1467

In [159]:
from collections import Counter
gen_proc = []
for i in gen[0][:8]:
    #lowercase
    proc = [u.lower() for u in i]
    #remove punctuation
    proc = [v for v in proc if v.isalpha()]
    gen_proc.append(proc)
gen_strings = [" ".join(e) for e in gen_proc]
gen_counts = [Counter(e) for e in gen_proc]

In [160]:
gen_strings[0]

u'in the beginning god created the heaven and the earth'

In [161]:
sum(gen_counts[0].values())

10

In [164]:
from sklearn.feature_extraction.text import TfidfVectorizer
v1 = TfidfVectorizer(stop_words="english", use_idf=False, smooth_idf=False, sublinear_tf=False)
X1 = v1.fit_transform(gen_strings)
freq_norm = X1.toarray()

In [165]:
from sklearn.feature_extraction.text import CountVectorizer
v2 = CountVectorizer(stop_words="english")
X2 = v2.fit_transform(gen_strings)
counts = X2.toarray()
len(v2.get_feature_names()) == len(v1.get_feature_names())

True

In [166]:
import pandas as pd 
df = pd.DataFrame.from_records(counts, columns=v2.get_feature_names())
df.to_csv('genesis_counts.csv')

In [167]:
totals = df.sum(axis=1)
result = []
for row in df.itertuples():
    new_row = [(o*1.0)/totals[row[0]] for o in row]
    new_row = new_row[1:]
    result.append(new_row)

df2 = pd.DataFrame.from_records(freq_norm, columns=v2.get_feature_names())
#df2
df2.to_csv('genesis_freq_norm.csv')

In [360]:
v4 = TfidfVectorizer(stop_words="english", norm=None, use_idf=True, smooth_idf=False, sublinear_tf=False)
X4 = v4.fit_transform(gen_strings)
freq4 = X4.toarray()

df4 = pd.DataFrame.from_records(freq4, columns=v4.get_feature_names())
df4
#df4.to_csv('genesis_tf_idf.csv')
v4.norm

In [169]:
v5 = TfidfVectorizer(stop_words="english", use_idf=True, smooth_idf=True, sublinear_tf=False)
X5 = v5.fit_transform(gen_strings)
freq5 = X5.toarray()

df5 = pd.DataFrame.from_records(freq5, columns=v5.get_feature_names())
df5
df5.to_csv('genesis_tf_freq_smooth.csv')

In [170]:
v6 = TfidfVectorizer(stop_words="english", use_idf=True, smooth_idf=True, sublinear_tf=True)
X6 = v6.fit_transform(gen_strings)
freq6 = X6.toarray()

df6 = pd.DataFrame.from_records(freq6, columns=v6.get_feature_names())
df6
df6.to_csv('genesis_tf_idf_smooth_sublinear.csv')

In [33]:
v1

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None,
        smooth_idf=False, stop_words='english', strip_accents=None,
        sublinear_tf=False, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, use_idf=False, vocabulary=None)

In [369]:
import numpy as np
"""
The formula that is used to compute the tf-idf of term t is
    tf-idf(d, t) = tf(t) * idf(d, t), and the idf is computed as
    idf(d, t) = log [ n / df(d, t) ] + 1 (if ``smooth_idf=False``),
    where n is the total number of documents and df(d, t) is the
    document frequency; the document frequency is the number of documents d
    that contain term t.
"""
tf = 1.0
#.4472136
n = 8.0
df = 1.0
idf = np.log(n/df) + 1.0
tf*idf

3.0794415416798357

In [350]:
solved_idf = 0.514661782/tf
solved_tf = 0.514661782/idf
solved_idf

1.1508187183931795

In [321]:
2.0/13

0.15384615384615385

In [349]:
from sklearn.preprocessing import normalize
test = v4.fit(gen_strings)
test

TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None,
        smooth_idf=False, stop_words='english', strip_accents=None,
        sublinear_tf=False, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, use_idf=True, vocabulary=None)

In [361]:
df4

,beginning,called,created,darkness,day,deep,divide,divided,earth,evening,...,light,midst,morning,moved,night,said,saw,spirit,void,waters
0,3.079442,0.000000,3.079442,0.000000,0.000000,0.000000,0.000000,0.000000,2.386294,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,1.980829,0.000000,3.079442,0.000000,0.000000,2.386294,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.079442,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3.079442,0.000000,0.000000,0.000000,3.079442,0.000000,2.386294
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.961659,0.000000,0.000000,0.000000,0.000000,2.386294,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,1.980829,0.000000,0.000000,0.000000,3.079442,0.000000,0.000000,...,3.961659,0.000000,0.000000,0.000000,0.000000,0.000000,3.079442,0.000000,0.000000,0.000000
5,0.000000,6.158883,0.000000,1.980829,2.386294,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.980829,0.000000,0.000000,0.000000,3.079442,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,2.386294,0.000000,0.000000,0.000000,0.000000,3.079442,...,0.000000,0.000000,3.079442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.079442,0.000000,0.000000,0.000000,...,0.000000,3.079442,0.000000,0.000000,0.000000,2.386294,0.000000,0.000000,0.000000,7.158883